<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todos</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="container">
    <main class="main">
      <h2>todos</h2>
      <input type="text" placeholder="what you want to do?">
      <ul id="content">
        <li>
          <span></span>
        </li>
      </ul>
    </main>
  </div>
</body>
<!-- <script src="../dist/jquery-3.3.1.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./art-template.js"></script>
<script id="test" type="text/html">
<ul>
  {{each todoList as value i}}
  <li>
    <span>{{value}}</span>
  </li>
  {{/each}}
</ul>
</script>
<script src="./index.js"></script>
</html>