* {
  margin: 0;
  padding: 0
}
ul li {
  list-style: none;
}
/* a {
  
} */
div {
  box-sizing: border-box;
}
p {
  margin: 0;
}


/* ------------- */
.v-cursor:hover {
  cursor: pointer;
}
.red {
  color: #a41f24;
}